<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paciente</title>
</head>
<body onload="setInterval(actualizarTimer, 1000)">
    <h1>Bienvenido, Dr. <span th:text="${username}"></span></h1>
    <h1>Tiempo Total de consulta</h1>
    <p id="timer">00:00:00</p>
    <a href="#" onclick="volver()">Volver</a>
    <a href="#" onclick="terminarConsulta()">Cerrar Sesión</a>
    <script>
        var segundos = 0;
        var minutos = 0;
        var horas = 0;
        
        function actualizarTimer() {
            segundos++;
            if (segundos == 60) {
                segundos = 0;
                minutos++;
            }
            if (minutos == 60) {
                minutos = 0;
                horas++;
            }
            var segStr = segundos.toString().padStart(2, "0");
            var minStr = minutos.toString().padStart(2, "0");
            var hStr = horas.toString().padStart(2, "0");
            document.getElementById("timer").innerHTML = hStr + ":" + minStr + ":" + segStr;
        }

        function volver() {
            // Obtener el tiempo transcurrido en el reloj de paciente
            var tiempoTranscurridoPaciente = document.getElementById("timer").innerHTML;
            // Obtener el tiempo transcurrido previamente almacenado en sessionStorage
            var tiempoTranscurrido = sessionStorage.getItem("tiempoTranscurrido");
            if (tiempoTranscurrido !== null) {
                // Separar horas, minutos y segundos del tiempo transcurrido previamente almacenado
                var tiempoArr = tiempoTranscurrido.split(":");
                var horas = parseInt(tiempoArr[0]);
                var minutos = parseInt(tiempoArr[1]);
                var segundos = parseInt(tiempoArr[2]);
                // Sumar el tiempo transcurrido en el reloj de paciente
                var tiempoArrPaciente = tiempoTranscurridoPaciente.split(":");
                horas += parseInt(tiempoArrPaciente[0]);
                minutos += parseInt(tiempoArrPaciente[1]);
                segundos += parseInt(tiempoArrPaciente[2]);
                // Ajustar el tiempo para que los minutos y segundos no superen 60
                if (segundos >= 60) {
                    segundos -= 60;
                    minutos++;
                }
                if (minutos >= 60) {
                    minutos -= 60;
                    horas++;
                }
                // Guardar el tiempo transcurrido actualizado en sessionStorage
                sessionStorage.setItem("tiempoTranscurrido", horas.toString().padStart(2, "0") + ":" + minutos.toString().padStart(2, "0") + ":" + segundos.toString().padStart(2, "0"));
            } else {
                // Si no hay un tiempo transcurrido previamente almacenado, guardar el tiempo transcurrido en el reloj de paciente
                sessionStorage.setItem("tiempoTranscurrido", tiempoTranscurridoPaciente);
            }
            // Redirigir a la página de welcome
            window.location.href = "/welcome";
        }

        function terminarConsulta() {
            // Redirigir a la página de paciente
            window.location.href = "/login";
        }
    </script>
</body>
</html>