<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Inicio de sesión</title>
    <!--<link rel="stylesheet" type="text/css" href="../../static/css/login_tarjeta.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_tarjeta.css}">
</head>
<body>
	<form method="post">
        <div id="barra">
            <a href="#" onclick="window.location.href = 'inicio_kiosko'">Volver</a>
            <!--<p id="reloj">00:00:00</p>-->
        </div>
        <div id="marco">
            <!--<img src="../../static/images/logo_Medcon.png" alt="logo_Medcon">-->
            <img th:src="@{/images/logo_Medcon.png}" alt="logo_Medcon">
            <h2>Introduzca su Nº de tarjeta </h2>
            <form action="/registrotarjeta" method="post">
                <input type="text" id="ntarjeta" name="ntarjeta"  maxlength="12"><br>
                <input type ="submit" value="Confirmar" id="confirmar">
            
            </form>
        </div>
        </form>

</body>
</html>

