<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sala de espera</title>
    <meta http-equiv="refresh" content="10">
    <!--<link rel="stylesheet" type="text/css" href="../../static/css/pantalla.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/pantalla.css}" />
    <script>
		function mostrarHoraActual() {
		var fecha = new Date();
		var horas = fecha.getHours().toString().padStart(2, "0");
		var minutos = fecha.getMinutes().toString().padStart(2, "0");
		var tiempo = horas + ":" + minutos;
		document.getElementById("reloj").innerText = tiempo;
		}
        window.onload = function() {
            mostrarHoraActual(); // Mostrar la hora actual al cargar la página
            setInterval(mostrarHoraActual, 1000); // Actualizar la hora cada segundo
        };
    </script>
</head>
<body>
    <div id="barra">
        <p id="reloj">00:00:00</p>
    </div>
            <div class="marco_izq">
                <h2>Sala de espera <span th:text = "${salaespera}"></span></h2>
                <div th:if="${#arrays.isEmpty(colacitas)}">
                    No hay consultas pendientes
                </div>

                <div class="paciente" th:unless="${#arrays.isEmpty(colacitas)}" th:each="cita: ${colacitas}">
                    <p>
                        <span th:text="${cita.pacienteId}"></span>
                        <span style="float:right; "th:text="${cita.hora}"></span>
                    </p>
                </div>
                
            </div>
        </div>

            <div class="marco_dcha">
                <div class="ultimollamado">
                    <div class="consulta1">
                        <h2>CONSULTA 2</h2>
                    </div>
                    <div class="identificador1" th:if="${#arrays.length(llamados) - 1 >= 0}">
                        <h3><span th:text="${llamados[numllamados - 1].Idpaciente}"></span></h3>
                    </div>  
                </div>
                <div class = "llamado2">
                    <div class="consulta2">
                        <h2>CONSULTA 2</h2>
                    </div>
                    <div class="identificador2" th:if="${#arrays.length(llamados) - 2 >= 0}">
                        <h3><span th:text="${llamados[numllamados - 2].Idpaciente}"></span></h3>
                    </div>
                </div>
                <div class="llamado3">
                    <div class="consulta3">
                        <h2>CONSULTA 2</h2>
                    </div>
                    <div class="identificador3" th:if="${#arrays.length(llamados) - 3 >= 0}">
                        <h3><span th:text="${llamados[numllamados - 3].Idpaciente}"></span></h3>
                    </div>
                </div>
                <div class="llamado4">
                    <div class="consulta4">
                        <h2>CONSULTA 2</h2>
                    </div>
                    <div class="identificador4" th:if="${#arrays.length(llamados) - 4 >= 0}">
                        <h3><span th:text="${llamados[numllamados - 4].Idpaciente}"></span></h3>
                    </div>
                </div>
                <div th:if="${#arrays.isEmpty(llamados)}">
                    En breves el médico le llamará a su consulta
                </div>
            </div>
      
</body>
</html>

