<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <!--<link rel="stylesheet" type="text/css" href="../../static/css/iniciomedico.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/iniciomedico.css}" />
</head>

<tbody onload="iniciarCronometro()">
    <div id="barra">
        <a href="#" onclick="terminarConsulta()">Cerrar Sesión</a>
    </div>
    <div class="marco_izq">
        <div th:if="${#arrays.isEmpty(pacientes)}">
            No hay consultas pendientes
        </div>
        <div th:unless="${#arrays.isEmpty(pacientes)}" th:each="paciente : ${pacientes}" th:class="${paciente == pacientes[0]} ? 'siguientepaciente' : 'infopaciente'">
            <table>
                <tr>
                    <td><b>Nombre:</b></td>
                    <td th:text="${paciente.nombre}"></td>
                </tr>
                <tr th:each="cita : ${citas_pendientes}" th:if="${cita.pacienteId == paciente.Idpaciente}">
                    <td><b>Hora cita:</b></td>
                    <td th:text="${cita.hora}"></td>
                </tr>
            </table>
        </div>
    </div>
            <div class="marco_dcha">
            <div class="doctor">
                <h2>Dr. <span th:text="${medico.nombre}"></span></h2>
            </div>
            <div class="tiempo_medio">
                <h4><b>Tiempo Medio de consulta</b></h4>
                <p id="timer-medio"><span th:text="${tiempomedio}"></span></p>
            </div>
            <div class="tiempo_total">
                <h4>Tiempo Total de consulta</b></h4>
                <p id="timer"><span th:text="${tiempototal}"></span> </p>
            </div><br>
            <div th:unless="${#arrays.isEmpty(pacientes)}">
            <form method="get" action="/siguiente_paciente">
                <input type="hidden" name="idpaciente" th:value="${pacientes[0].Idpaciente}" />
                <button type="submit" id="siguiente" value="${pacientes[0].Idpaciente}">
                    <span>Siguiente</span></button>
            </form>
            </div>
            <img th:src="@{/images/logo_Medcon_v2.png}" alt="logo_Medcon">
            </div>

    <script>        
        
        function siguientePaciente() {
            // Redirigir a la página de siguiente paciente
            window.location.href = "/siguiente_paciente";
        }

        function terminarConsulta() {
            // Redirigir a la página de paciente
            window.location.href = "/login_medico";
        }
    </script>
</tbody>
</html>