<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <meta http-equiv="refresh" content="60">
    <!--<link rel="stylesheet" type="text/css" href="../../static/css/iniciomedico.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/iniciomedico.css}" />
</head>

<body onload="iniciarCronometro()">
    <div id="barra">
        <a href="#" onclick="terminarConsulta()">Cerrar Sesión</a>
    </div>
    <div class="marco_izq">
        <div th:if="${#arrays.isEmpty(citas_pendientes)}">
            No hay consultas pendientes
        </div>
        <div th:unless="${#arrays.isEmpty(citas_pendientes)}" th:each="cita: ${citas_pendientes}" th:class="${cita == citas_pendientes[0]} ? 'siguientepaciente' : 'infopaciente'">
            <table>
                <trtr th:each="paciente : ${pacientes}" th:if="${paciente.Idpaciente == cita.pacienteId}">
                    <td><b>Nombre:</b></td>
                    <td th:text="${paciente.nombre}"></td>
                </tr>
                <tr>
                    <td><b>Hora cita:</b></td>
                    <td th:text="${cita.hora}"></td>
                </tr>
            </table>
        </div>
    </div>
            <div class="marco_dcha">
            <div class="doctor">
                <h2>Dr. <span th:text="${medico.nombre}"></span></h2>
            </div>
            <div id="reloj" class="tiempo_medio">
                <h4><b>Tiempo Medio de consulta</b></h4>
                <p id="timer-medio" th:text="${tiempomedio}"></p>
            </div>
            <div class="tiempo_total">
                <h4>Tiempo Total de consulta</b></h4>
                <p id="timer" th:text="${tiempototal}"></p>
                    <!--<span th:text="${tiempototal}"></span> </p>-->
            </div><br>
            <div th:unless="${#arrays.isEmpty(citas_pendientes)}">
            <form method="get" action="/siguiente_paciente">
                <input type="hidden" name="idpaciente" th:value="${citas_pendientes[0].pacienteId}" />
                <button type="submit" id="siguiente" value="${citas_pendientes[0].pacienteId}">
                    <span>Siguiente</span></button>
            </form>
            </div>
            <img th:src="@{/images/logo_Medcon_v2.png}" alt="logo_Medcon">
            </div>

    <script>        
        
        function siguientePaciente() {
            // Redirigir a la página de siguiente paciente
            window.location.href = "/siguiente_paciente";
        }

        function terminarConsulta() {
            // Redirigir a la página de paciente
            window.location.href = "/login_medico";
        }
    </script>
</tbody>
</html>