<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Inicio de sesión</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/loginerror.css}">
</head>
<body>
	<form method="post">
        <div id="barra">
            <a href="#" onclick="goBack()">Volver</a>
            <!--<p id="reloj">00:00:00</p>-->
        </div>
		<div id="marco">
			<img src="@{/images/logo_Medcon.png}" alt="logo_Medcon">
			<h2>Por favor inicie sesión</h2>
			<form action="/login" method="post">
				<input type="text" value="Usuario" id="Usuario" placeholder="Usuario" onfocus="this.value=''"><br>
				<input type="text" value="Contraseña" id="Contraseña" placeholder="Contraseña" onfocus="this.value=''"><br>
                <div class="boton-container">
                    <input type="submit" value="Iniciar Sesión" id="Confirmar">
                    <h3 style="color: red; font-size: small; text-align: center;">Error de usuario o contraseña</h3>
                </div>
			</form>
		</div>
	</form>
</body>
</html>
