<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Siguiente paciente</title>
    <!--<link rel="stylesheet" type="text/css" href="../../static/css/siguiente_paciente.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/paciente.css}" />

    </script>
</head>
<body onload="iniciarCronometro()">
    <div id="barra">
    </div>

    <div class="info_paciente">
        <div class="foto">
        <!-- Hay que cambiar esto para que la foto corresponda a la del paciente-->
        <img th:src="@{/images/avatar.png}" alt="logo_Medcon">
        <!--<img src="../../static/images/avatar.png" alt="logo_Medcon">-->
        </div>
        <div class="nombre">
            <h2 th:text="${pacientellamado.nombre}"></h2>
        </div>
        <div class="nacimiento">
            <h2 th:text="${pacientellamado.fecha_nacimiento}"></h2>
        </div>
        <div class="logo">
        <img th:src="@{/images/logo_Medcon.png}" alt="logo_Medcon">
        <!--<img src="../../static/images/logo_Medcon.png" alt="logo_Medcon">-->
        </div>
    </div>

    <div class="marco_dcha">
        <button id="historial" onclick="window.location.href = '/historial'">Historial médico</button>
        <button id="receta" onclick="window.location.href = '/receta'">Receta electrónica</button>
        <button id="pruebas" onclick="window.location.href = '/pruebas_medicas'">Pruebas médicas</button>
        <button id="gestion_citas" onclick="window.location.href = '/gestion_citas'">Gestión de citas</button>
      <!-- <button id="suspender_consulta" onclick="window.location.href = '/suspender_consulta'">Suspender consulta en curso</button> --> 
      <form method="get" action="/suspender_consulta">
       <!--<input type="hidden" name="medico" value="${medico.dni}">
        <input type="hidden" name="paciente" value="${paciente.idpaciente}"> --> 
        <button type="submit" id="suspender_consulta">
            <span>Suspender consulta en curso </span>
        </button>
      </form>
        <form method="get" action="/finalizar_consulta">
            <button type="submit" id="finalizar">
                Finalizar Consulta
            </button>
        </form>
        <div class="tiempo">
            <span id="timer">00:00:00</span>
        </div>
    </div>

    <script>        
        var segundos = 0;
        var minutos = 0;
        var horas = 0;
        var tiempoConsulta = document.getElementById("tiempoConsulta").textContent;
        var tiempoMedio = document.getElementById("timer-medio");
        tiempoMedio.textContent = tiempoConsulta;

        function iniciarCronometro() {
         if (typeof crono === 'number' && !isNaN(crono)) {
            horas = TimeUnit.MILLISECONDS.toHours(crono);
            minutos = TimeUnit.MILLISECONDS.toMinutes(crono) - TimeUnit.HOURS.toMinutes(horas);
            segundos = TimeUnit.MILLISECONDS.toSeconds(crono) - TimeUnit.HOURS.toSeconds(horas) - TimeUnit.MINUTES.toSeconds(minutos);
         }
            // Iniciar el cronómetro
            setInterval(actualizarTimer, 1000);
        }

        function actualizarTimer() {
            segundos++;
            if (segundos == 60) {
                segundos = 0;
                minutos++;
            }
            if (minutos == 60) {
                minutos = 0;
                horas++;
            }
            var segStr = segundos.toString().padStart(2, "0");
            var minStr = minutos.toString().padStart(2, "0");
            var hStr = horas.toString().padStart(2, "0");
            document.getElementById("timer").innerHTML = hStr + ":" + minStr + ":" + segStr;
        }

        function siguientePaciente() {
            // Almacenar el tiempo transcurrido en sessionStorage
            sessionStorage.setItem("tiempoTranscurrido", document.getElementById("timer").innerHTML);
        }

        function terminarConsulta() {
            // Redirigir a la página de paciente
            window.location.href = "/iniciomedico";
        }
    </script>
          
</body>
</html>

