<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body onload="iniciarCronometro()">
    <h1>Dr. <span th:text="${username}"></span></h1>
    <ul>
        <li th:each="item : ${items}" th:text="${item}"></li>
    </ul>
    <h1>Tiempo Total de consulta</h1>
    <p id="timer">00:00:00</p>
    <h1>Tiempo Medio de consulta</h1>
    <p id="timer-medio">00:00:00</p>
    <a th:href="@{/paciente}" onclick="siguientePaciente()">Siguiente</a>
    <a href="#" onclick="terminarConsulta()">Cerrar Sesión</a>
    <script>        
        var segundos = 0;
        var minutos = 0;
        var horas = 0;
        
        function iniciarCronometro() {
            // Obtener el tiempo transcurrido previamente almacenado en sessionStorage
            var tiempoTranscurrido = sessionStorage.getItem("tiempoTranscurrido");
            if (tiempoTranscurrido !== null) {
                var tiempoArr = tiempoTranscurrido.split(":");
                horas = parseInt(tiempoArr[0]);
                minutos = parseInt(tiempoArr[1]);
                segundos = parseInt(tiempoArr[2]);
            }

            // Obtener el tiempo transcurrido previamente almacenado en sessionStorage de la página de paciente
            var tiempoTranscurridoPaciente = sessionStorage.getItem("tiempoTranscurridoPaciente");
            if (tiempoTranscurridoPaciente !== null) {
                var tiempoArrPaciente = tiempoTranscurridoPaciente.split(":");
                var horasPaciente = parseInt(tiempoArrPaciente[0]);
                var minutosPaciente = parseInt(tiempoArrPaciente[1]);
                var segundosPaciente = parseInt(tiempoArrPaciente[2]);
                
                // Sumar el tiempo del paciente al tiempo previo del doctor
                horas += horasPaciente;
                minutos += minutosPaciente;
                segundos += segundosPaciente;
            }

            // Iniciar el cronómetro
            setInterval(actualizarTimer, 1000);
        }

        function actualizarTimer() {
            segundos++;
            if (segundos == 60) {
                segundos = 0;
                minutos++;
            }
            if (minutos == 60) {
                minutos = 0;
                horas++;
            }
            var segStr = segundos.toString().padStart(2, "0");
            var minStr = minutos.toString().padStart(2, "0");
            var hStr = horas.toString().padStart(2, "0");
            document.getElementById("timer").innerHTML = hStr + ":" + minStr + ":" + segStr;
        }

        function siguientePaciente() {
            // Almacenar el tiempo transcurrido en sessionStorage
            sessionStorage.setItem("tiempoTranscurrido", document.getElementById("timer").innerHTML);
            // Redirigir a la página de siguiente paciente
            window.location.href = "/paciente";
        }

        function terminarConsulta() {
            // Redirigir a la página de paciente
            window.location.href = "/login";
        }
    </script>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cita</th>
                <th>Presente</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="paciente : ${pacientes}">
            <td th:text="${paciente.nombre}"></td>
            <td th:text="${paciente.cita}"></td>
            <td th:text="${paciente.presente ? 'Sí' : 'No'}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>