@font-face {
    font-family: 'Abel';
    src: url('./fonts/Abel.ttf') format('truetype');
}

body{
    background-color: #92abc8;
    font-family: 'abel', sans-serif;
}
#barra{
    width: 100%; 
    height: 7%; 
    background-color:  #295c93; 
    position: fixed; 
    top: 0; 
    left: 0; 
    margin-bottom: 1%;
}

#barra a{
    color: #ffff;
    background-color:  #295c93; 
    display: block;
    margin-left: 2%;
    margin-top: 0.75%;
    font-size: 150%;
    text-decoration: none;
    font-family: 'abel', sans-serif;
}

#marco{
    background-color: #ecf5ff;
    width: 60%; /* Ancho del recuadro */
    height: 60%; /* Altura del recuadro */
    position: fixed; /* Fijar la posición del recuadro */
    top: 50%; /* Colocar el recuadro en el centro verticalmente */
    left: 50%; /* Colocar el recuadro en el centro horizontalmente */
    transform: translate(-50%, -50%); 
    border-radius: 1em;
    
}

#datos_paciente{
    display: flex;
    align-items: center;
}

#marco img{
    width: 20%;
    margin-left: 20%;
}

#marco #datos{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-family: 'abel', sans-serif;
    margin-left: 5%;
}

#info_cita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    
}
#imprimir{
    margin-top: 1%;
    width: 20%; 
    height: 15%;
    border-radius: 1em;
    margin-bottom: 1%; /* Espaciado inferior de los inputs */
    display: block;
    margin: auto auto;
    background-color: #ff9148;
    border-color: #ff9148;
    font-size: 1.7em;
    font-family: 'abel', sans-serif;
}

