/* Estilos para pantallas pequeñas (menores de 992px de ancho) Pantallas Pequeñas */
@media only screen and (max-width: 991px) {
    @font-face {
        font-family: 'Abel';
        src: url('./fonts/Abel.ttf') format('truetype');
    }
    
    body{
        background-color: #92abc8;
        font-family: 'abel', sans-serif;
    }

    #barra{
        width: 100%; 
        height: 7%; 
        background-color:  #295c93; 
        position: fixed; 
        top: 0; 
        left: 0; 
        margin-bottom: 1%;
    }
    
    #barra button{
        color: #ffff;
        background-color: transparent; 
        font-size: 1rem;
        text-decoration: none;
        font-family: 'abel', sans-serif;
        border: transparent;
        
    }
    .contenedores{
        display: flex;
    }
    .marco_izq {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 70%;
        padding: 20px;
        background-color: #ecf5ff;
        margin-left: 12%; 
        margin-top: 10%;
        border-radius: 1em;
    }
    
    /* Estilos para el marco derecho */
    .marco_dcha {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 70%;
        background-color: #ecf5ff;
        padding: 20px;
        margin-left: 12%;
        margin-top: 2%;
        border-radius: 1em;
    }

    .siguientepaciente{
        border: 0.1em solid #ff9148;
        border-radius: 1em;
        background-color: #ff9148;
        padding-left: 2%;
        height: 5vh;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 100%;
    }
    .infopaciente{
        margin-top: 3%;
        border: 0.1rem solid #295c93;
        border-radius: 1em;
        padding-left: 2%;
        height: 5vh;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 100%;
    }
    .doctor{
        background-color: #295c93;
        border-radius: 1em;   
        height:6vh;
        width: 100%;
        padding-bottom: 1vh;
    }
    
    .doctor h2{
        color: #ffff;
        margin-left: 3%;
    }
    
    .tiempo_medio{
        width: 100%;
        text-align: center;
        margin-top: 3%;
        border-radius: 1em;
        border: 0.08em solid #295c93;
    }
    
    .tiempo_total{
        width: 100%;
        text-align: center;
        margin-top: 3%;
        border-radius: 1em;
        border: 0.08em solid #295c93;
    }
    
    button{
        margin-top: 5%;
        width: 130%; 
        height: 8vh;
        border-radius: 1em;
        margin-bottom: 1%;
        margin-left: -12%;
        display: block;
        background-color: #ff9148;
        border-color: #ff9148;
        font-size: 1.3rem;
        font-family: 'abel', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .tiempo_medio p{
        font-size: 1.5em;
    }
    .tiempo_total p{
        font-size: 1.5em;
    }
    .tiempo_medio h4{
        font-size: 1em;
    }
    .tiempo_total h4{
        font-size: 1em;
    }
    
    img{
        width: 18%;
        margin-left: 0%;
        margin-top: 5%;
    }
}



/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/* Estilos para pantallas medianas (entre 992px y 1199px de ancho) Pantallas medianas */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    @font-face {
        font-family: 'Abel';
        src: url('./fonts/Abel.ttf') format('truetype');
    }
    
    body{
        background-color: #92abc8;
        font-family: 'abel', sans-serif;
    }

    #barra{
        width: 100%; 
        height: 7%; 
        background-color:  #295c93; 
        position: fixed; 
        top: 0; 
        left: 0; 
        margin-bottom: 1%;
    }
    
    #barra button{
        color: #ffff;
        background-color: transparent; 
        display: block;
        margin-left: 2%;
        margin-top: 1.1%;
        font-size: 1rem;
        text-decoration: none;
        font-family: 'abel', sans-serif;
        
    }
    .contenedores{
        display: flex;
        justify-content: space-between;
    }
    .marco_izq {
        float: left;
        width: 50%;
        padding: 20px;
        background-color: #ecf5ff;
        margin-left: 3%; 
        margin-top: 8%;
        border-radius: 1em;
    }
    
    /* Estilos para el marco derecho */
    .marco_dcha {
        float: right;
        width: 35%;
        background-color: #ecf5ff;
        padding-top: -10px;
        padding: 20px;
        margin-right: 3%;
        margin-top: 8%;
        border-radius: 1em;
    }
    
    .siguientepaciente{
        border: 0.1em solid #ff9148;
        border-radius: 1em;
        background-color: #ff9148;
        padding-left: 2%;
        height: 5vh;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .infopaciente{
        margin-top: 3%;
        border: 0.1rem solid #295c93;
        border-radius: 1em;
        padding-left: 2%;
        height: 5vh;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .doctor{
        background-color: #295c93;
        border-radius: 1em;   
        height:6vh;
    }
    
    .doctor h2{
        color: #ffff;
        margin-left: 3%;
        padding-top: 1vh;
    }
    
    .tiempo_medio{
        text-align: center;
        margin-top: 3%;
        border-radius: 1em;
        border: 0.08em solid #295c93;
    }
    
    .tiempo_total{
        text-align: center;
        margin-top: 3%;
        border-radius: 1em;
        border: 0.08em solid #295c93;
    }
    
    button{
        margin-top: 5%;
        width: 30%; 
        height: 8vh;
        border-radius: 1em;
        margin-bottom: 1%; /* Espaciado inferior de los inputs */
        display: block;
        margin: auto auto;
        background-color: #ff9148;
        border-color: #ff9148;
        font-size: 1.3rem;
        font-family: 'abel', sans-serif;
    }
    
    .tiempo_medio p{
        font-size: 1.5em;
    }
    .tiempo_total p{
        font-size: 1.5em;
    }
    .tiempo_medio h4{
        font-size: 1em;
    }
    .tiempo_total h4{
        font-size: 1em;
    }
    
    img{
        width: 18%;
        margin-left: 41%;
        margin-top: 5%;
    }
}


/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/* Estilos para pantallas grandes (mayores de 1200px de ancho) Pantallas Grandes */
@media only screen and (min-width: 1200px) {
    @font-face {
        font-family: 'Abel';
        src: url('./fonts/Abel.ttf') format('truetype');
    }
    
    body{
        background-color: #92abc8;
        font-family: 'abel', sans-serif;
    }

    #barra{
        width: 100%; 
        height: 7%; 
        background-color:  #295c93; 
        position: fixed; 
        top: 0; 
        left: 0; 
        margin-bottom: 1%;
    }
    
    #barra button{
        color: #ffff;
        background-color:  transparent; 
        border: transparent;
        font-size: 1rem;
        text-decoration: none;
        font-family: 'abel', sans-serif;
        position: absolute;
        left: 0;
    }
    .contenedores{
        display: flex;
        justify-content: space-between;
    }
    .marco_izq {
        float: left;
        width: 50%;
        padding: 20px;
        background-color: #ecf5ff;
        margin-left: 3%; 
        margin-top: 5%;
        border-radius: 1em;
    }
    
    /* Estilos para el marco derecho */
    .marco_dcha {
        float: right;
        width: 35%;
        background-color: #ecf5ff;
        padding: 20px;
        padding-top: 5px;
        margin-right: 3%;
        margin-top: 5%;
        border-radius: 1em;
    }

    .siguientepaciente{
        border: 0.1em solid #ff9148;
        border-radius: 1em;
        background-color: #ff9148;
        padding-left: 2%;
        height: 5vh;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .infopaciente{
        margin-top: 3%;
        border: 0.1rem solid #295c93;
        border-radius: 1em;
        padding-left: 2%;
        height: 5vh;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .doctor{
        background-color: #295c93;
        border-radius: 1em;   
        height:6vh;
    }
    
    .doctor h2{
        color: #ffff;
        margin-left: 3%;
        padding-top: 1vh;
    }
    
    .tiempo_medio{
        text-align: center;
        margin-top: 3%;
        border-radius: 1em;
        border: 0.08em solid #295c93;
    }
    
    .tiempo_total{
        text-align: center;
        margin-top: 3%;
        border-radius: 1em;
        border: 0.08em solid #295c93;
    }
    
    button{
        margin-top: 5%;
        width: 30%; 
        height: 8vh;
        border-radius: 1em;
        margin-bottom: 1%; /* Espaciado inferior de los inputs */
        display: block;
        margin: auto auto;
        background-color: #ff9148;
        border-color: #ff9148;
        font-size: 150%;
        font-family: 'abel', sans-serif;
    }
    
    .tiempo_medio p{
        font-size: 1.5em;
    }
    .tiempo_total p{
        font-size: 1.5em;
    }
    .tiempo_medio h4{
        font-size: 1em;
    }
    .tiempo_total h4{
        font-size: 1em;
    }
    
    img{
        width: 18%;
        margin-left: 41%;
        margin-top: 5%;
    }
}