<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div class="marco">
        <img th:src="@{/images/logo_Medcon.png}" alt="logo_Medcon">
        <form method="get" action="/login_medico">
            <button type="submit" id="medico">
                <span>Médico</span></button>
        </form>
        <form method="get" action="/inicio_kiosko">
            <button type="submit" id="kiosko">
                <span>Kiosko</span></button>
        </form>
        <form method="get" action="/pantalla">
            <button type="submit" id="pantalla">
                <span>Sala de espera</span></button>
        </form>
    </div>
</body>
</html>