<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body onload="setInterval(actualizarTimer, 1000)">
    <h1>Dr. <span th:text="${username}"></span></h1>
    <ul>
        <li th:each="item : ${items}" th:text="${item}"></li>
    </ul>
    <h1>Tiempo Total de consulta</h1>
    <p id="timer">00:00:00</p>
    <a th:href="@{/paciente}">Siguiente</a>
    <script>
        var segundos = 0;
        var minutos = 0;
        var horas = 0;
        
        function actualizarTimer() {
            segundos++;
            if (segundos == 100) {
                segundos = 0;
                minutos++;
            }
            if (minutos == 60) {
                minutos = 0;
                horas++;
            }
            var segStr = segundos.toString().padStart(2, "0");
            var minStr = minutos.toString().padStart(2, "0");
            var hStr = horas.toString().padStart(2, "0");
            document.getElementById("timer").innerHTML = hStr + ":" + minStr + ":" + segStr;
        }
    </script>
</body>
</html>