<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/error_cita.css}">
	<!--<link rel="stylesheet" type="text/css" href="../../static/css/error_cita.css">-->
	<script>
	function mostrarHoraActual() {	
		var fecha = new Date();
		var horas = fecha.getHours().toString().padStart(2, "0");
		var minutos = fecha.getMinutes().toString().padStart(2, "0");
		var tiempo = horas + ":" + minutos;
		document.getElementById("reloj").innerText = tiempo;
	}


	window.onload = function() {
		mostrarHoraActual(); // Mostrar la hora actual al cargar la página
		setInterval(mostrarHoraActual, 1000); // Actualizar la hora cada segundo
	};

</script>
</head>
<body>
	<div id="barra">
		<p id="reloj">00:00</p>
	</div>
	<div id="marco">
			<img th:src="@{/images/logo_Medcon.png}" alt="logo_Medcon">
			<!--<img src="../../static/images/logo_Medcon.png" alt="logo_Medcon">-->
			<h2> Seleccione una opción </h2> 
			<p> DNI o Número de tarjeta incorrecto </p> 
			<div id="botones_contenedor">
				<form method="get" action="/login_DNI">
					<button type="submit" id="boton_dni">Introducir DNI</button>
				</form>
				<form method="get" action="/login_tarjeta">
					<button type="submit" id="boton_tarjeta">Introducir tarjeta</button>
		</form>
	</div>
</body>
</html>
