<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/error_cita.css}">
	<script>
		function mostrarHoraActual() {
		var fecha = new Date();
		var horas = fecha.getHours();
		var minutos = fecha.getMinutes();
		var tiempo = horas + ":" + minutos;
		document.getElementById("reloj").innerText = tiempo;
	}

	window.onload = function() {
		mostrarHoraActual(); // Mostrar la hora actual al cargar la página
		setInterval(mostrarHoraActual, 1000); // Actualizar la hora cada segundo
	};

</script>
</head>
<body>
	<p> Dni o Nº de tarjeta incorrecto </p> 
    <p> Por favor vuelva a introducirlo </p> 	
	<button onclick="window.location.href = 'login_DNI';">Introducir DNI</button>
	<button onclick="window.location.href = 'login_tarjeta';">Introducir Nº tarjeta</button>
</body>
</html>