<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Inicio de sesión</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_tarjeta.css}">
</head>
<body>
	<form method="post">
        <div id="barra">
            <a href="#" onclick="goBack()">Volver</a>
            <!--<p id="reloj">00:00:00</p>-->
        </div>
        <div id="marco">
            <img th:src="@{/images/logo_Medcon.png}" alt="logo_Medcon">
            <h2>Introduzca su Nº de tarjeta </h2>
            <form action="/login_DNI" method="post">
                <input type="text" id="n_tarjeta" name="n_tarjeta"  maxlength="10"><br>
                <input type ="submit" value="Confirmar" id="confirmar">
            
            </form>
        </div>
        </form>

</body>
</html>

